rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{collection}/{docId} {
      allow read: if true;
      allow create: if collection.matches('comments_.*')
                    && request.resource.data.keys().hasAll(['text', 'ts'])
                    && request.resource.data.text is string
                    && request.resource.data.text.size() >= 3
                    && request.resource.data.text.size() <= 500;
      allow update, delete: if false;
    }
  }
}
